<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stacja krwiodawstwa - Rejestracja dawców</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

{% include 'header.html' %}

<main class="container my-5">
    <div class="row">
        <div class="col-12 text-center mb-5">
            <h2>Dołącz do grona dawców!</h2>
            <p>Aktualnie mamy już {{ dawcy_liczba }} dawców.</p>
            <p>Dołącz do nas i pomóż ratować życie!</p>
            <a href="{% url 'register' %}" class="btn btn-danger">Zarejestruj się</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="section-title">Plusy oddawania krwi</h2>
        </div>
        <div class="col-md-4 text-center">
            <div class="benefit-item">
                <img src="{% static 'images/icon1.png' %}" alt="Icon 1" class="mb-3">
                <h3>Sztuka ratowania życia</h3>
                <p>Oddając krew, masz możliwość bezpośredniego wpływu na uratowanie czyjegoś życia. Twoja krwiożerczość może stać się cudem dla innych.</p>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="benefit-item">
                <img src="{% static 'images/icon2.png' %}" alt="Icon 2" class="mb-3">
                <h3>Zdrowie dla Ciebie</h3>
                <p>Regularne oddawanie krwi może pomóc w utrzymaniu dobrego zdrowia. Redukuje ryzyko chorób serca, obniża ciśnienie krwi i reguluje poziom żelaza.</p>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="benefit-item">
                <img src="{% static 'images/icon3.png' %}" alt="Icon 3" class="mb-3">
                <h3>Badanie zdrowia</h3>
                <p>Przed oddaniem krwi przeprowadzane jest badanie, które może pomóc w wykryciu niektórych stanów zdrowia, takich jak niedokrwistość czy infekcje.</p>
            </div>
        </div>
    </div>
</main>

{% include 'footer.html' %}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const menuToggle = document.getElementById('navbarNav');
        menuToggle.addEventListener('click', function() {
            menuToggle.classList.toggle('show');
        });
    });
</script>

</body>
</html>
