<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Stacja krwiodawstwa - Rejestracja dawców</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body>
    <header>
        <h1>Stacja krwiodawstwa</h1>
    
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Strona główna</a></li>
                <li><a href="{% url 'register' %}">Rejestracja dawców</a></li>
                <li><a href="#">Statystyki</a></li>
                <li><a href="#">Kontakt</a></li>
                
              
                
            </ul>
        </nav>
    </header>

    <main>
        <div class="wrapper">
            <div class="registration-box">
                <h2>Zostań dawcą krwi!</h2>
                <p>Zarejestruj się już dziś i pomóż komuś uratować życie.</p>
                    <form method="post" action="/register/">  
                        {% csrf_token %}
                        <input type="text" name="imie" placeholder="Imię">
                        <input type="text" name="nazwisko" placeholder="Nazwisko">
                        <input type="date" name="data_urodzenia" placeholder="Data urodzenia">
                        <input type="email" name="adres_mailowy" placeholder="Adres email">
                        <input type="text" name="numer_telefonu" placeholder="Numer telefonu">
                        <select name="grupa_krwi" placeholder="Grupa Krwi">
                            <option value="" selected disabled >Wybierz grupę krwi</option>
                            <option value="A+">A+</option>
                            <option value="A-">A-</option>
                            <option value="B+">B+</option>
                            <option value="B-">B-</option>
                            <option value="AB+">AB+</option>
                            <option value="AB-">AB-</option>
                            <option value="0+">0+</option>
                            <option value="0-">0-</option>
                        </select>
                        <button type="submit">Zarejestruj się</button>
                    </form>
            </div>
            
        </div>
    </main>

    <footer>
        <p>Stacja krwiodawstwa - Wszelkie prawa zastrzeżone</p>
    </footer>
</body>
</html>

